
*.xml
python-stuff/Password Manager/.idea/Password Manager.iml
*.toc
*.pyc
python-stuff/Password Manager/build/PasswordManagerNonGUI/xref-PasswordManagerNonGUI.html
python-stuff/Password Manager/build/PasswordManagerNonGUI/warn-PasswordManagerNonGUI.txt
python-stuff/Password Manager/build/PasswordManagerNonGUI/PYZ-00.pyz
python-stuff/Password Manager/PasswordManagerNonGUI.spec
python-stuff/Password Manager/build/PasswordManagerNonGUI/PasswordManagerNonGUI.pkg
python-stuff/Password Manager/build/PasswordManagerNonGUI/PasswordManagerNonGUI.exe.manifest
python-stuff/Password Manager/build/PasswordManagerNonGUI/PasswordManagerNonGUI.exe.manifest
python-stuff/Password Manager/build/PasswordManagerNonGUI/PasswordManagerNonGUI.pkg
python-stuff/Password Manager/auth.ini
python-stuff/Password Manager/enc.key
python-stuff/Password Manager/vault.csv
python-stuff/Password Manager/stub.ini
python-stuff/Password Manager/vault.key
python-stuff/Password Manager/manifest.env
python-stuff/Password Manager/manifest.env
*.env
*.env
python-stuff/Password Manager/Rewrite.py
*.env
python-stuff/Password Manager/.DS_Store
python-stuff/.DS_Store
python-stuff/Password Manager/test.py
python-stuff/Password Manager/manifest.env
python-stuff/Password Manager/.DS_Store
python-stuff/.DS_Store
python-stuff/.DS_Store
python-stuff/Password Manager/.DS_Store
*.env
python-stuff/Password Manager/manifest.env
